{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "login text-bg-dark" style="height:800px">
    <br><br><br><br><br>
    <div class="d-flex justify-content-center">
        <div>
            <div class="d-flex justify-content-center">
                <h1>Formulir Registrasi</h1>  
            </div>
            <br>

            <div class="card p-5 text-dark">
                <form method="POST" >  
                    {% csrf_token %}  
                    <table>  
                        {{ form.as_table }}    
                    </table>  
                    <div class="d-flex justify-content-center pt-4">
                        <button type="submit" name="submit" value="Daftar" class="btn btn-primary px-4">Daftar</button>
                    </div>
                </form>
            </div>

            <div class="d-flex justify-content-center text-success">
            {% if messages %}  
                <br>   
                {% for message in messages %}  
                    {{ message }}
                {% endfor %}  
            {% endif %}
            </div>
        </div>
    </div>
</div>  

{% endblock content %}