{% extends 'base.html' %}

{% block meta %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            // AJAX [GET]
            // mendapatkan barang dari json yang ada di "http://localhost:8000/wishlist/json"
            // untuk diletakkan dalam wishlist_ajax.html ini
            $.get("http://localhost:8000/wishlist/json", function(data) {
                for (let barang of data){
                    $(".daftar-barang").append(
                        `<div class="card text-dark p-4 m-3">
                            <div class="d-flex justify-content-between">
                                <div class="">
                                    <b>${barang.fields.nama_barang}</b>
                                </div>
                                <div>
                                    <p style="font-size:12px;">
                                        <i>Rp. ${barang.fields.harga_barang},-</i>
                                    </p>
                                </div>
                            </div>
                            <div class="card text-bg-light p-2" style="font-size:12px;">
                                ${barang.fields.deskripsi}
                            </div>
                        </div>`)
                }                
            });
            // AJAX [POST]
            // saat submit-button diclick maka post ke "http://localhost:8000/wishlist/ajax/submit"
            $("#submit-button").click(function() {
                $.post("http://localhost:8000/wishlist/ajax/submit", 
                    {
                        nama_barang: $("#nama_barang").val(),
                        harga_barang: parseInt($("#harga_barang").val()),
                        deskripsi: $("#deskripsi").val()
                    } 
            )})
        });
    </script>
    <title>Wishlist Mario</title>
{% endblock meta %}

{% block content %}
<div class="wishlist text-bg-dark">
    <div class="navbar d-flex  py-3 text-bg-secondary px-4">
        <div class="align-self-center">
            <div>{{nama}}</div> 
        </div>
        <div>
            <a href="{% url 'wishlist:logout' %}">
                <button class="btn btn-danger" >
                    Logout
                </button>
            </a>
        </div>
    </div>

    <div class="py-2"></div>
    
    <!-- FORM POST BY AJAX [POST]-->
    <form method="POST" action="">
        {% csrf_token %}
        
        <div class="d-flex justify-content-center">
            <div style="width:400px">
                <div class="p-2">
                    <div>Nama Barang&nbsp;</div>
                    <input type="text" name="nama_barang" id="nama_barang" placeholder="barang"  class="form-control">
                </div>
                <div class="p-2">
                    <div>Harga&nbsp;</div>
                    <input type="text" name="harga_barang" id="harga_barang" placeholder="harga" class="form-control">
                </div>
                <div class="p-2">
                    Deskripsi&nbsp;
                    <input type="text" name="deskripsi" id="deskripsi" placeholder="deskripsi" class="form-control" >
                <div class="pt-3">
                    <button id="submit-button" class="btn btn-success mt-3">Tambah Wishlist</button>
                </div>
            </div>
        </div>
    </form>

    <!-- MELETAKKAN DATA DARI AJAX [GET]-->
    <br><br><br>
    <div class="d-flex justify-content-center">
        <div class="daftar-barang"></div>
    </div>

    <br>
    <div class="d-flex justify-content-center">
        <div class="text-warning p-4">Sesi terakhir login: {{ last_login }}</div>
    </div>
</div>



{% endblock content %}