{% extends 'base.html' %}

{% block meta %}
<title>Wishlist Mario</title>
{% endblock meta %}

{% block content %}
<div class="wishlist text-bg-dark" style="height:800px"">
    <div class="navbar d-flex  py-3 text-bg-secondary px-4">
        <div class="align-self-center">
            <div>{{nama}}</div> 
        </div>
        <div>
            <a href="{% url 'wishlist:logout' %}">
                <button class="btn btn-danger" >
                    Logout
                </button>
            </a>
        </div>
    </div>

    <br><br><br>
    <div class="d-flex justify-content-center">
        <div>
            {% for barang in list_barang %}
            <div class="card text-dark p-4">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <b>{{barang.nama_barang}}</b>
                    </div>
                    <div>
                        <p style="font-size:12px;">
                            <i>Rp. {{barang.harga_barang}},-</i>
                        </p>
                    </div>
                </div>
                <div class="card text-bg-light p-2" style="font-size:12px;">
                    {{barang.deskripsi}}
                </div>
            </div>
            <br>

            {% endfor %}

            <br>
            <div class="d-flex justify-content-center">
                <div class="text-warning">Sesi terakhir login: {{ last_login }}</div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}